<div class="container">
    <h1 class="my-5 text-center">Frist Angular Task With Routing</h1>
    <div class="row mt-5">
        <div class="col-sm-4">
            <div class="link"  routerLink="/">App_com</div>
        </div>
        <div class="col-sm-4">
            <div class="link"  routerLink="/product">Products</div>
        </div>
        <div class="col-sm-4">
            <div class="link" routerLink="/customer" > Customer</div>
        </div>
    </div>
</div>
<!-- <button class="btn btn-danger">Test Button</button> -->

<router-outlet></router-outlet>

